*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace, BlinkMacSystemFont, sans-serif;

}

.calculator {
  background: #3c3b3b;
  border-radius: 20px;
  padding: 20px;
  width: 360px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* 입력값, 결과값이 출력되는 부분*/
.display {
  width: 100%;
  height: 70px;
  font-size: 2em;
  text-align: right;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #6d6c6c;
  color: rgb(255, 255, 255);
}

/* 디스플레이 속성 grid에 대해 알았으니.... */
.buttons {
  display: grid;            /* 2차원 적용, 행열 제어*/
  grid-template-columns: repeat(4, 1fr);    /*4개의 열을 생성, 각 열의 너비는 똑같이 나눔*/
  gap: 10px; /*각 사이의 갭을 설정, 저한텐 이게 딱 맞아유*/
}

button {
  height: 60px;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  background: #505050;
  color: white;
  transition: 0.2s;
  cursor: pointer;

}

button:active {
  transform: scale(0.95);
}

button.orange {
  background: #ff9500;
  color: white;
}

button.gray {
  background: #a5a5a5;
  color: black;
}

button.zero {
  grid-column: span 2;  /* '0' 버튼은 수평으로 2칸 차지할 수 있게 */
}

/* 반응형 추가 */
@media (max-width: 430px) {
  .calculator {
    width: 90%;
    padding: 15px;
  }

  .display {
    font-size: 1.5em;
    height: 80px;
  }

  button {
    height: 75px;
    font-size: 1.5em;
  }
}


